In [2]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

In [3]:
data=pd.read_csv("/content/Data.csv")

In [4]:
print(data.head())

   Country   Age   Salary Purchased
0   France  44.0  72000.0        No
1    Spain  27.0  48000.0       Yes
2  Germany  30.0  54000.0        No
3    Spain  38.0  61000.0        No
4  Germany  40.0      NaN       Yes

In [5]:
print("Shape of Data",data.shape)

Shape of Data (10, 4)

In [6]:
print("Missing values", data.isnull().sum())

Missing values Country      0
Age          1
Salary       1
Purchased    0
dtype: int64

In [7]:
print("Data Type")
print(data.dtypes)

Data Type
Country       object
Age          float64
Salary       float64
Purchased     object
dtype: object

In [8]:
zero=(data == 0).sum()
print(zero)

Country      0
Age          0
Salary       0
Purchased    0
dtype: int64

In [9]:
# Print the actual column names of the DataFrame
print(data.columns)

# Update the code to use the correct column names:
print(data[['Country', 'Age']].head())  # Replace 'Country', 'Age' with actual column names based on output
print(data.iloc[0:5])  # First 5 rows


sorted_data = data.sort_values(by='Age')  # Replace 'Age' with actual column name based on output
print(sorted_data.head())

Index(['Country', 'Age', 'Salary', 'Purchased'], dtype='object')
   Country   Age
0   France  44.0
1    Spain  27.0
2  Germany  30.0
3    Spain  38.0
4  Germany  40.0
   Country   Age   Salary Purchased
0   France  44.0  72000.0        No
1    Spain  27.0  48000.0       Yes
2  Germany  30.0  54000.0        No
3    Spain  38.0  61000.0        No
4  Germany  40.0      NaN       Yes
   Country   Age   Salary Purchased
1    Spain  27.0  48000.0       Yes
2  Germany  30.0  54000.0        No
5   France  35.0  58000.0       Yes
9   France  37.0  67000.0       Yes
3    Spain  38.0  61000.0        No

In [10]:
print("Summary statistics for CSV data:")
print(data.describe())

Summary statistics for CSV data:
             Age        Salary
count   9.000000      9.000000
mean   38.777778  63777.777778
std     7.693793  12265.579662
min    27.000000  48000.000000
25%    35.000000  54000.000000
50%    38.000000  61000.000000
75%    44.000000  72000.000000
max    50.000000  83000.000000

In [19]:
print("Counting unique values : ")
print(data.nunique())

print("Format of columns : ")
print(data.dtypes)


print("Converting data type : ")
data['Age'] = data['Age'].astype(int)  # Replace 'Age' with your actual column name
print(data.dtypes)

Counting unique values :
Country       3
Age          10
Salary        9
Purchased     2
dtype: int64
Format of columns :
Country       object
Age            int64
Salary       float64
Purchased     object
dtype: object
Converting data type :
Country       object
Age            int64
Salary       float64
Purchased     object
dtype: object